    <div class="status"><%= flash[:attendance_detail] %></div>
    <div class="error"><%= flash[:error] %></div>
    <h1>Create Attendance Detail</h1>
    <form method="post" action="<%= branch_event_attendance_details_path(@branch, @event) %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
      Member ID: <input type="text" name="member[id]"/><p/>
      Status: <select name="attendance_detail[status]">
        <option value=''>Calculate Attendance Status</option>
        <option value='partial'>Partial</option>
        <option value='full'>Full</option>
      </select><p/>
      <input type='submit' value='Save'/>
    </form>
    <p/>
    <a href="<%= branch_events_path(@branch) %>">Return to Events</a>
