<div class="status"><%= flash[:branch] %></div>
<p/>
<h1>Branches</h1>
<table>
<% @branches.each do |branch| %>
  <tr>
    <td><%= branch.name %></td>
    <td><a href="<%= edit_branch_path(branch) %>">Edit Branch</a></td>
    <td><a href="<%= branch_member_path(branch) %>">Member</a></td>
    <td><a href="<%= branch_events_path(branch) %>">Events</a></td>
  </tr>
  <% end %>
</table>
  <p/>
  <a href="<%= new_branch_path %>">New Branch</a>
