<div class="status"><%= flash[:member] %></div>
<p/>
<h1>Members for <%= @branch.name %></h1>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Card Number</th>
    <th>Participation Type</th>
  </tr>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.id %>
      <td><%= "#{member.first_name} #{member.surname}" %></td>
      <td><%= member.card_number %></td>
      <td><%= (@participation_types.inject({}) { |hash,element| hash.merge! element })[member.participation] %></td>
      <td><a href="<%= edit_branch_member_path(@branch, member) %>">Edit Member</a></td>
    </tr>
  <% end %>
</table>
<p/>
<a href="<%= new_branch_member_path(@branch) %>">Create Member</a>
<p/>
<a href="<%= branches_path %>">Return to Branches</a>
